<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Handwriting to text</title>
    </head>
    <body>
        <h1>Easy handwriting to text converter!</h1>
        <form method="POST" enctype="multipart/form-data">
            <label><h3>Upload only .png, .jpg, .jpeg</h3></label>
            <br />
            <input
                name="image"
                type="file"
                placeholder="image"
                accept="image/png, image/jpg, image/jpeg"
            />
            <input type="submit" value="Upload" />
        </form>
    </body>
</html>
